# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------
TZ=Europe/Kyiv


# -----------------------------------------------------------------------------
# Images
# -----------------------------------------------------------------------------
GRAFANA_VERSION=13.1-slim
PROMETHEUS_VERSION=v3.5.4
#LOKI_VERSION=3.5.5
ALLOY_VERSION=v1.17.0

# -----------------------------------------------------------------------------
# Ports
# -----------------------------------------------------------------------------
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
ALLOY_UI_PORT=12345
OTLP_HTTP_PORT=4318
OTLP_GRPC_PORT=4317
# -----------------------------------------------------------------------------
# Grafana
# -----------------------------------------------------------------------------
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=ChangeMe123!
GF_SERVER_ROOT_URL=http://192.168.40.33:3000
GF_USERS_ALLOW_SIGN_UP=false
