# -----------------------------------------------------------------------------
# General
# -----------------------------------------------------------------------------
TZ=Europe/Kyiv

# -----------------------------------------------------------------------------
# Container Images
# -----------------------------------------------------------------------------
GRAFANA_VERSION=13.1-slim
PROMETHEUS_VERSION=v3.5.4
ALLOY_VERSION=v1.17.0
LOKI_VERSION=3.6.12

# -----------------------------------------------------------------------------
# Network
# -----------------------------------------------------------------------------
GRAFANA_PORT=3000
PROMETHEUS_PORT=9090
LOKI_PORT=3100

#Alloy
ALLOY_UI_PORT=12345
OTLP_HTTP_PORT=4318
OTLP_GRPC_PORT=4317
# rfc 5424
SYSLOG_TCP_PORT=1514
SYSLOG_UDP_PORT=1514
# Omada raw syslog
SYSLOG_OMADA_UDP_PORT=1515

# -----------------------------------------------------------------------------
# Grafana
# -----------------------------------------------------------------------------
#(change addr before production use)
GF_SERVER_ROOT_URL=http://obs-01.home.lan:3000
GF_USERS_ALLOW_SIGN_UP=false

# -----------------------------------------------------------------------------
# Credentials (change before production use)
# -----------------------------------------------------------------------------
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=ChangeMe123!
