# General
TZ=Europe/Kyiv


### Grafana

# Versions
GRAFANA_VERSION=13.1-slim

# Ports
GRAFANA_PORT=3000

GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=ChangeMe123!
GF_SERVER_ROOT_URL=http://192.168.1.133:3000
GF_USERS_ALLOW_SIGN_UP=false
